<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-SKNQ8GJ\SQLSERVER;Initial Catalog=Licitatii;Integrated Security=True;" />
    <add name="ProiectLicitatii.Properties.Settings.mydbConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\mydb.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>